<div class="contact-container">
  <h1>Kontakt</h1>
  <p>Masz pytania lub potrzebujesz pomocy? Skontaktuj się z nami!</p>

  <div class="contact-details">
    <p><strong>Adres:</strong> ul. Przykładowa 123, 00-001 Warszawa</p>
    <p><strong>Email: </strong> <a href="mailto:support&#64;example.com">support&#64;example.com</a></p>
    <p><strong>Telefon:</strong> +48 123 456 789</p>
    <p><strong>Godziny otwarcia:</strong> Poniedziałek - Piątek, 9:00 - 17:00</p>
  </div>

  <div class="contact-map">
    <h2>Znajdź nas:</h2>
    <iframe
      width="100%"
      height="300"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.314709384296!2d21.012228115836123!3d52.229675979759826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd78f1ec8f0b%3A0x471eca04fd3d4f!2sWarszawa%2C%20Polska!5e0!3m2!1spl!2spl!4v1675357291029!5m2!1spl!2spl"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
