<mat-card style="padding: 20px 20px 20px 20px">
  <div class="header-container">
    <div class="title-section">
      <img src="https://cdn-icons-png.flaticon.com/512/6404/6404259.png" alt="Projekt Ikona" width="40" height="40">
      <h1>Projekt: {{ Projekt?.nazwa }}</h1>
    </div>
    <div class="days-section" *ngIf="isAssigned">
      <h3 *ngIf="iloscDni <= 0" class="overdue">
        Przekroczono dzień oddania projektu!
      </h3>
      <h3 *ngIf="iloscDni > 0">
        Do oddania projektu pozostało: <b>{{ iloscDni }} dni</b>
      </h3>
    </div>
  </div>

  <mat-divider></mat-divider>
  <br>
  <section class="project-info">
    <h2>Opis Projektu</h2>
    <p>{{ Projekt?.opis }}</p>
  </section>

  <!-- Sekcja dat, widoczna tylko dla użytkowników z dostępem -->
  <section class="project-dates" *ngIf="isAssigned">
    <p><strong>Data Utworzenia:</strong> {{ Projekt?.dataczasUtworzenia }}</p>
    <p><strong>Data Oddania:</strong> {{ Projekt?.dataOddania | date: 'yyyy-MM-dd' }}</p>
  </section>

  <!-- Lista Studentów -->
  <section *ngIf="isAssigned" class="project-students">
    <h2>Studenci przypisani do projektu</h2>
    <ul>
      <li *ngFor="let student of Projekt?.studenci">
        {{ student.imie }} {{ student.nazwisko }} <a href="mailto:{{ student.email }}">{{ student.email }}</a>
      </li>
      <h3 *ngIf="Projekt?.studenci?.length === 0">Brak dodanych studentów.</h3>
    </ul>
  </section>

  <!-- Lista Zadań -->
  <section *ngIf="isAssigned" class="project-tasks">
    <h2>Lista Zadań</h2>
    <ul>
      <li *ngFor="let zadanie of Zadania">
        <strong style="color:#3a506b">[{{ zadanie.dataCzasOddania }}]</strong> &nbsp;<b>{{ zadanie.nazwa }}</b> - {{ zadanie.opis }}
      </li>
    </ul>
  </section>

  <!-- Tablica Kanban -->
  <section *ngIf="isAssigned" class="kanban-board">
    <h2>Tablica Kanban</h2>
    <app-kanban-board [tasks]="Zadania"></app-kanban-board>
  </section>

  <!-- Informacja o dostępie -->
  <div *ngIf="!isAssigned" class="access-info">
    <p style="color: red; font-weight: bold;">Nie masz dostępu do tego projektu.</p>
  </div>

  <!-- Lista Plików -->
  <section *ngIf="isAssigned" class="project-tasks">
    <h2>Załączone Pliki</h2>
    <ul>
      <li *ngFor="let plik of Pliki">
        <button mat-button color="primary" class="pdf-button" (click)="downloadFile(plik.sciezka)">
          <img *ngIf="isPdfFile(plik.sciezka)" src="/pdf_icon.svg" alt="PDF Icon" style="width: 24px; height: 24px; margin-right: 8px;">
          <img *ngIf="isImageFile(plik.sciezka)" src="/jpg.png" alt="Image Icon" style="width: 24px; height: 24px; margin-right: 8px;">
          {{ plik.sciezka }}
        </button>
      </li>
    </ul>
    <h3 *ngIf="Pliki?.length === 0">Brak załączonych plików.</h3>
    <p *ngIf="Pliki?.length === undefined">Brak danych o plikach.</p>
  </section>
</mat-card>
