<mat-card style="padding: 20px 20px 20px 20px">
  <h1>  <img src="https://cdn-icons-png.flaticon.com/512/6404/6404259.png" alt="Projekt Ikona" width="40" height="40"> | Projekt: {{this.Projekt.nazwa}}</h1>
  <mat-divider></mat-divider>
  <br>
    <section class="project-info">
      <h2>Opis Projektu</h2>
      <p>{{this.Projekt.opis}}</p>
    </section>
    <section class="project-dates">
      <p><strong>Data Utworzenia:</strong> {{this.Projekt.dataczasUtworzenia}}</p>
      <p><strong>Data Oddania:</strong> {{this.Projekt.dataOddania}}</p>
    </section>
    <!-- Lista Studentów -->
  <br>
  <mat-divider></mat-divider>
  <br>
    <section class="project-students">
      <h2>Studenci przypisani do projektu</h2>
      <ul>
        <li *ngFor="let student of Projekt.studenci">{{student.imie}} {{student.nazwisko}} <a href="mailto:{{student.email}}">{{student.email}}</a></li>
      </ul>
    </section>

    <!-- Lista Zadań -->
  <br>
  <mat-divider></mat-divider>
  <br>
    <section class="project-tasks">
      <h2>Lista Zadań</h2>
      <ul>
        <li *ngFor="let zadanie of Zadania"><strong style="color:#3a506b">[{{zadanie.dataCzasOddania}}]</strong> &nbsp;<b>{{zadanie.nazwa}}</b> - {{zadanie.opis}} </li>
      </ul>
    </section>


</mat-card>
