
<form [formGroup]="searchForm" class="search-form">
  <h2>Wyszukaj projekt:</h2>
  <div class="form-actions">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Nazwa projektu</mat-label>
      <input matInput formControlName="name" placeholder="Wpisz nazwę projektu">
    </mat-form-field>
    <button class="btn btn-md mb-3 customButton shadow">
      <i class="fa fa-user"></i>Utwórz nowy projekt
    </button>
  </div>
</form>


<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>

<table mat-table [dataSource]="Projekty">


  <!-- Nazwa projektu Column -->
  <ng-container matColumnDef="nazwa">
    <th mat-header-cell *matHeaderCellDef> Nazwa projektu </th>
    <td mat-cell *matCellDef="let element">
      <b>{{element.nazwa}} </b>
    </td>
  </ng-container>

  <!-- Data rozpoczęcia Column -->
  <ng-container matColumnDef="dataczasUtworzenia">
    <th mat-header-cell *matHeaderCellDef> Data rozpoczęcia </th>
    <td mat-cell *matCellDef="let element">
      {{element.dataczasUtworzenia}}
    </td>
  </ng-container>

  <!-- Termin oddania Column -->
  <ng-container matColumnDef="dataOddania">
    <th mat-header-cell *matHeaderCellDef> Termin oddania </th>
    <td mat-cell *matCellDef="let element">
      {{element.dataOddania}}
    </td>
  </ng-container>

  <!-- Liczba studentów Column -->
  <ng-container matColumnDef="iloscStudentow">
    <th mat-header-cell *matHeaderCellDef> Liczba studentów </th>
    <td mat-cell *matCellDef="let element">
      {{getNumberOfStudents(element.studenci)}}
    </td>
  </ng-container>


  <!-- Akcja Column -->
  <ng-container matColumnDef="akcja">
    <th mat-header-cell *matHeaderCellDef> Akcja </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" [routerLink]="['/projekt/', element.projektId]">
        Otwórz
      </button>
    </td>
  </ng-container>

  <!-- Admin Column -->
  <ng-container matColumnDef="admin">
    <th mat-header-cell *matHeaderCellDef> Edycja </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="accent"
        (click)="openAdminModal(element.projektId)"
      >
        Edytuj
      </button>
    </td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="colNames"></tr>
  <tr mat-row *matRowDef="let row; columns: colNames;"></tr>
</table>
