.mat-dialog-container {
  padding: 20px;
  background-color: #f4f7fc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nagłówek okna dialogowego */
.mat-dialog-title {
  font-size: 24px;
  font-weight: 600;
  color: #3a506b;
  margin-bottom: 15px;
  text-align: center;
  padding: 0 20px !important; /* Dodanie odstępów od krawędzi, z użyciem !important */
}

/* Dodatkowe style dla całego okna dialogowego, aby lepiej dostosować */
.mat-dialog-content {
  padding: 20px;
}

.mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
}



form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin-bottom: 20px;
}

.mat-error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button[mat-button] {
  background-color: #ffffff;
  color: #3a506b;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[mat-raised-button] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: #f1f1f1;
}

button[mat-raised-button]:hover {
  background-color: #0056b3;
}

button[disabled] {
  background-color: #c0c0c0 !important;
  cursor: not-allowed;
}

