<h2 style="padding: 20px" mat-dialog-title>Zmień hasło użytkownika</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nowe hasło</mat-label>
      <input matInput formControlName="newPassword" type="password">
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
        Hasło jest wymagane.
      </mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
        Hasło musi mieć co najmniej 6 znaków.
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Anuluj</button>
      <button mat-raised-button color="success" type="submit" [disabled]="passwordForm.invalid">Zmień hasło</button>
    </div>
  </form>
</mat-dialog-content>
